form {
    display: flex;
    justify-content: center;
    padding: 70px 10px;
    height: 100vh;

    .card {
        max-width: 500px;
        width: 100%;
        padding: 20px;
        border: none;
        outline: none;
        height: 350px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .width {
        display: block;
    }

    .price {
        display: block;
        font-size: 1.5em;
        margin: 10px 0;
    }

    .button-right {
        display: flex;
        flex-direction: row-reverse;
    }


}
