
//@import '@angular/material/theming';
//@include mat-core();

//$my-primary: mat-palette($mat-green);
//$my-secondary: mat-palette($mat-indigo, A200, A400, 700);
//$my-thirtiary: mat-palette($mat-red);

//$custom-theme: mat-light-theme($my-primary, $my-secondary, $my-thirtiary);

//@include angular-material-theme($custom-theme);

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}
